/* styles_components/slider.module.css */
.slider {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.sliderWrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-color: #f5f5f5;
  position: relative;
}

.slideImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  object-position: center;
}

.slideContent {
  background-color: rgba(128, 128, 128, 0.542);
  border-radius: 20px;
  padding: 20px;
  position: relative;
  z-index: 2;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.slideContent h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.slideContent p {
  font-size: 1.2rem;
}

/* Strzałki */
.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
  z-index: 3;
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}

.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 3;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.activeDot {
  background-color: #00aaff;
}