.container{
  display:flex;
  max-width: 1200px;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
}

.mainIcons{
  display: flex;
  gap:40px;
  justify-content: center;
  height: 150px;
  align-items: center;
  
}

.iconTrans{
  display: flex;
  gap:25px;
  align-items: center;
}

.icon{
  font-size:60px;
}



.mainDesc{
  font-size: 25px;
  font-weight: 600;
}

.subDesc{
  display: flex;
  text-align: center;
  font-size: 15px;
  text-decoration: underline;
  margin-left: 10px;
}
.subDesc2{
  display: flex;
  text-align: center;
  font-size: 15px;
  text-decoration: underline;
  margin-left: 45px;
}

.promo{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.titlePromo{
  font-size: 40px;
  font-weight:600;
  text-align: center;
  border-bottom: 1px solid red;
}

.promoContainer{
  display: flex;
  
  margin-top: 50px;
}

